@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background: rebeccapurple;
  color: #071723;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input:focus {
  -webkit-box-shadow: 0 0 2px #191847;
  box-shadow: 0 0 2px #191847;
}

.box {
  background-color: #f2f2f2;
  border-radius: 8px;
  -webkit-box-shadow: 10px 22px 24px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 10px 22px 24px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 560px;
}

#box-header {
  background: url(./assets/images/header.png) no-repeat;/** alterei o caminho para rodar no sandbox **/
  /* background: url(../images/header.png) no-repeat; */
  background-size: cover;
  background-position-x: -12px;
  height: 187px;
  padding: 23px 31px;
  margin-bottom: 32px;
}
#box-header .title {
  width: 219px;
  height: 99px;
}
#box-header .title p {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 36px;
}
#box-header .title p:last-child {
  font-weight: 600;
}

#box-main .fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 0 32px;
  margin-bottom: 32px;
}
#box-main .fieldset label,
#box-main .fieldset span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
#box-main .fieldset label.stickers-name {
  display: block;
  position: relative;
  padding-left: 33px;
  margin-bottom: 8px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#box-main .fieldset label.stickers-name:last-child {
  margin-bottom: 0px;
}
#box-main .fieldset label.error {
  color: #f33232;
}
#box-main .fieldset label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#box-main .fieldset .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #2f3676;
  border-radius: 4px;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#box-main .fieldset .stickers-name.error .checkmark {
  background-color: #f59393;
}
#box-main .fieldset .stickers-name input:disabled ~ .checkmark {
  background-color: #c5cfd6;
}
#box-main .fieldset .checkmark:hover {
  background-color: #191847;
}
#box-main .fieldset .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#box-main .fieldset .stickers-name input:checked ~ .checkmark:after {
  display: block;
}
#box-main .fieldset .stickers-name .checkmark:after {
  left: 9px;
  top: 4px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#box-main .fieldset .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#box-main .fieldset .counter svg {
  fill: #2f3676;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#box-main .fieldset .counter svg:hover {
  fill: #191847;
}
#box-main .fieldset .counter svg.disable {
  fill: #c5cfd6;
}
#box-main .fieldset .counter input {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #071723;
  margin: 0 8px;
  width: 60px;
  height: 42px;
  text-align: center;
  padding: 9px 11px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#box-main .fieldset .counter input.error {
  background: #f59393;
  border: 1px solid #f33232;
}
#box-main .fieldset textarea {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 4px;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#box-footer {
  padding: 0 32px;
  background: #dde3e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 101px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#box-footer span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #00c57c;
}
#box-footer button {
  cursor: pointer;
  background: #2f3676;
  border: 2px solid #2f3676;
  border-radius: 7px;
  color: #fff;
  padding: 0 32px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  height: 37px;
  width: 133px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#box-footer button:disabled {
  background: #c5cfd6;
  border: 2px solid #555555;
  color: #555555;
}
#box-footer button:hover {
  border: 2px solid #2f3676;
  background: #191847;
}
